#dataCard
{
    transition: 0.2s ;
    transition-delay: 0.1s;
}

#dataCard:hover{
    background-color: black;
transform: scale(1.1);
cursor: pointer;
box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}